body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
    /* background-color: black; */
}

#fps {
    position: absolute;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}